@import "tailwindcss";

@theme {
	--color-bg0: var(--bg0);
	--color-bg1: var(--bg1);
	--color-bg2: var(--bg2);
	--color-bg3: var(--bg3);
	--color-fg0: var(--fg0);
	--color-fg1: var(--fg1);
	--color-fg2: var(--fg2);
	--color-fg3: var(--fg3);
	--color-accent: var(--accent);
	--color-highlight: var(--highlight);
	--color-error: var(--error);
	--color-warn: var(--warn);
}

@layer base {
	html,
	body {
		background-color: var(--bg0);
	}

	/* __COLOR_SCHEME__ */
	:root {
		--bg0: #ffffff;
		--bg1: #f4f4f5;
		--bg2: #e4e4e7;
		--bg3: #d4d4d8;
		--fg0: #18181b;
		--fg1: #3f3f46;
		--fg2: #71717a;
		--fg3: #a1a1aa;
		--accent: #2563eb;
		--highlight: #eff6ff;
		--error: #dc2626;
		--warn: #d97706;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--bg0: #09090b;
			--bg1: #18181b;
			--bg2: #27272a;
			--bg3: #3f3f46;
			--fg0: #fafafa;
			--fg1: #d4d4d8;
			--fg2: #a1a1aa;
			--fg3: #71717a;
			--accent: #60a5fa;
			--highlight: #172554;
			--error: #f87171;
			--warn: #fbbf24;
		}
	}
}
